[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".dircolors"]
	path = .dircolors
	url = https://github.com/seebi/dircolors-solarized.git
