[core]
	excludesfile = /Users/likai/.gitignore

[user]
    name = likai
    email = youyuge@gmail.com

[color]
    ui = auto

[merge]
    log = true

[diff]
    tool = Kaleidoscope

[difftool "Kaleidoscope"]
    cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    up = pull --rebase --autostash
